h1 {
  font-size: 60px;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 1025px;
  margin: 0 auto;
  background-color: #F0FFFF;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: #000000;
  text-shadow: 3px 3px 3px black;
}

img {
  display: black;
}

h1, h2, p, ul {
  text-align: center;
}